<html>
 <head>
 <title> Cribbage UI </title>
 </head>
 <body>
  <h1> Cribbage UI </h1>
           
  <p> Player 1 score : {{p1_score}} </p> 
  
  <p> Player 2 score : {{p2_score}}</p> 
  
  <p> Player 1 cards: {{p1_hand}} </p> 
  
  <p> Player 2 cards: {{p2_hand}}</p> 
  
  <p> Player 1 dealer: {{p1_dealer}} </p> 
  
  <p> Player 2 dealer: {{p2_dealer}} </p> 
 
  <p> cards on table : {{on_table}} </p> 
  
  <p> cut_card : {{cut_card}}</p> 
  
  <p> crib : {{crib}} </p> 
  
  <p> active player  : {{active_player_str}}</p> 
 
  <p> table_sum  : {{table_sum}}</p> 
  
  <p> info  : {{info}} </p> 

  <button type="button" onClick="window.location.reload()">
   Reload Page
</button>

<form action="/send" method="POST">
        <label for="Number One">Index 1</label>
        <input
          type="int"
          placeholder=""
          class="u-full-width"
          name="index_1"
        />

        <label for="Number Two">Index 2</label>
        <input
          type="int"
          placeholder=""
          name="index_2"
        />


        <input type="submit" value="Send Discard Choice" id="calc_btn" />
        <br />

      </form>
	  
<form action="/send_the_play" method="POST">
        <label for="Number One">Index 1</label>
        <input
          type="int"
          placeholder=""
          class="u-full-width"
          name="index_1"
        />



        <input type="submit" value="Send Play Choice" id="calc_btn" />
        <br />

      </form>	  
 </body>
</html>
